
/*   main CSS ----------------------------------- */
h1 {
    color: midnightblue;
    text-align: center;
    margin: 5px;
    border: 20em;
}

header {
    background-color: slategrey;
}

.pic-me {
    margin-left:20px;
}
p {
    max-width: 500px;
}

body {
  min-height: 100%;
  background-color: lightskyblue;
}

  /* Media queries ----------------------------- */

  /* Target viewport sizes less than 576px ----- */

@media (max-width: 575px) {

    header {
      text-align: center;
      margin-bottom: 2.5rem;
    }
  }
  
  /* Target viewport sizes 576px and wider ---- */
  
  @media (min-width: 576px) {
    
    footer li {
      display: inline-block;
      margin: 0 0.45em;
    }
    h2 {
      margin-bottom: 1.5em;
    }
  }
  
  /* Target a viewport range wider than 575px and narrower than 992px */
  
  @media (min-width: 576px) and (max-width: 991px){
    .bio {
      margin-left: 20px;
    }

  }
  /* Target viewport sizes 768px and wider ------ */
  
  @media (min-width: 768px) {
    .info {
      width: 65%;
    }
    .bio {
      width: 30%;
    }
  }
  
  /* Target viewport sizes 992px and wider ------- */
  
  @media (min-width: 992px) {
  