
/*   main CSS ----------------------------------- */

h1 {
    color: midnightblue;
    text-align: center;
    margin: 0;
}

header {
  background-color: rgb(183, 188, 190);
  border: -1%;
  margin: 0;
  grid-area: header;
}

.title {
  grid-area: title;
  margin: 0;
}

.button {
  grid-area: button;
  margin-top: 5px;
}

.pic-me {
  grid-area: pic-me;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.info {
  grid-area: info;
}

.biot {
  grid-area: biot;
}


.bio {
  grid-area: bio;
}

.footer {
  grid-area: footer;
  place-content: end;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 38px 5% 20% 10% 5% 2fr 1fr;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: ;
  grid-row-gap: ;
  grid-template-areas: 
  "header header header header" 
  "title title . button"
  "pic-me pic-me . ."
  "info info info info"
  "biot biot biot biot"
  "bio bio bio bio"
  "footer footer footer footer";
  background-color: lightskyblue;
}

  /* Media queries ---------------------------------------- */

  /* Target viewport sizes 576px and wider ---- */
  
  @media (min-width: 576px) {
    
  } 
  
  /* Target a viewport range wider than 575px and narrower than 992px */
  
  @media (min-width: 576px) and (max-width: 991px) {
    
  }
  /* Target viewport sizes 768px and wider ------ */
  
  @media (min-width: 768px) {
    
  }
  
  /* Target viewport sizes 992px and wider ------- */
  
  @media (min-width: 992px) {
  
  }