
/*   main CSS ----------------------------------- */
body {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  background-color: lightskyblue;
}

main {
  padding: 15px;
  display: grid;
  grid-template-rows: .25fr 1.75fr 1fr .25fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: ;
  grid-row-gap: ;
  grid-template-areas: 
  "title button"
  "pic-me ."
  "info info"
  "biot biot"
  "bio bio";
}

.head {
    display: flex;
    color: midnightblue;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header {
  background-color: rgb(183, 188, 190);
  padding: 5px;
}

.title {
  grid-area: title;
  margin: 0;
}

.button {
  grid-area: button;
  margin-top: 5px;
  width: 75%; 
  display: flex;
  justify-content: center;
  margin-left: auto;
  
}

.pic-me {
  grid-area: pic-me;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.info {
  grid-area: info;
}

.biot {
  grid-area: biot;
  margin: 0;
}


.bio {
  grid-area: bio;
}

.footer {
  margin: 0;
  padding: 15px;
}

.foot {
  margin: 0;
}

  /* Media queries ---------------------------------------- */

  /* Target viewport sizes 576px and wider ---- */
  
  @media (min-width: 576px) {
    
  } 
  
  /* Target a viewport range wider than 575px and narrower than 992px */
  
  @media (min-width: 576px) and (max-width: 991px) {
    
  }
  /* Target viewport sizes 768px and wider ------ */
  
  @media (min-width: 768px) {
    
  }
  
  /* Target viewport sizes 992px and wider ------- */
  
  @media (min-width: 992px) {
  
  }